* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1227_744 {
  width: 100%;
  height: 1024px;
  background: rgba(242,244,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1227_753 {
  width: 255px;
  height: 1024px;
  background: rgba(255,238,238,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v1227_754 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 41px;
  left: 76px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 19px;
  opacity: 0.699999988079071;
  text-align: left;
}
.v1227_755 {
  width: 255px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 0px;
  overflow: hidden;
}
.v1227_756 {
  width: 254px;
  height: 56px;
  background: rgba(188,0,255,1);
  opacity: 0.07999999821186066;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1227_757 {
  width: 3px;
  height: 56px;
  background: rgba(239,93,168,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1227_758 {
  width: 159px;
  color: rgba(239,93,168,1);
  position: absolute;
  top: 18px;
  left: 72px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1227_759 {
  width: 16px;
  height: 16px;
  background: url("../images/v1227_759.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 32px;
  overflow: hidden;
}
.v1227_760 {
  width: 16px;
  height: 15px;
  background: rgba(239,93,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v1227_761 {
  width: 255px;
  height: 56px;
  background: rgba(250,219,239,1);
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 0px;
  overflow: hidden;
}
.v1227_762 {
  width: 159px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 18px;
  left: 72px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1236_744 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 32px;
  overflow: hidden;
}
.v1236_745 {
  width: 15px;
  height: 14px;
  background: url("../images/v1236_745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1236_746 {
  width: 15px;
  height: 14px;
  background: url("../images/v1236_746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1236_747 {
  width: 15px;
  height: 14px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(119,119,119,1);
}
.v1236_748 {
  width: 0px;
  height: 2px;
  background: url("../images/v1236_748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 5px;
  overflow: hidden;
}
.v1236_749 {
  width: 0px;
  height: 2px;
  background: url("../images/v1236_749.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1236_750 {
  width: 0px;
  height: 2px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1236_751 {
  width: 0px;
  height: 0px;
  background: url("../images/v1236_751.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 5px;
  overflow: hidden;
}
.v1236_752 {
  width: 0px;
  height: 0px;
  background: url("../images/v1236_752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1236_753 {
  width: 0px;
  height: 0px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1227_765 {
  width: 255px;
  height: 56px;
  background: rgba(250,219,239,1);
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 0px;
  overflow: hidden;
}
.v1227_766 {
  width: 159px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 18px;
  left: 72px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1236_754 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 32px;
  overflow: hidden;
}
.v1236_755 {
  width: 16px;
  height: 16px;
  background: url("../images/v1236_755.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1236_756 {
  width: 16px;
  height: 16px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1236_757 {
  width: 2px;
  height: 2px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 2px;
}
.v1236_758 {
  width: 2px;
  height: 2px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 10px;
}
.v1236_759 {
  width: 2px;
  height: 2px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 6px;
}
.v1236_760 {
  width: 2px;
  height: 2px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
}
.v1236_761 {
  width: 2px;
  height: 2px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
}
.v1236_762 {
  width: 2px;
  height: 2px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 2px;
}
.v1227_799 {
  width: 100%;
  height: 44px;
  background: url("../images/v1227_799.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 285px;
  overflow: hidden;
}
.v1227_805 {
  width: 109px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 13px;
  left: 347px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 0.30000001192092896;
  text-align: right;
}
.v1227_806 {
  height: 32px;
  background: url("../images/v1227_806.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 379px;
  overflow: hidden;
}
.v1227_807 {
  height: 32px;
  background: url("../images/v1227_807.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(223,224,235,1);
}
.v1227_808 {
  width: 16px;
  height: 16px;
  background: url("../images/v1227_808.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 427px;
  overflow: hidden;
}
.v1227_809 {
  width: 14px;
  height: 16px;
  background: rgba(197,199,205,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v1227_810 {
  width: 6px;
  height: 6px;
  background: rgba(55,81,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 10px;
  border-radius: 50%;
}
.v1227_815 {
  width: 771px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1236_765 {
  width: 541px;
  height: 134px;
  background: url("../images/v1236_765.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 285px;
  overflow: hidden;
}
.v1236_766 {
  width: 541px;
  height: 134px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1236_767 {
  width: 541px;
  height: 134px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1236_768 {
  width: 406px;
  color: rgba(242,121,121,1);
  position: absolute;
  top: 24px;
  left: 67px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v1236_769 {
  width: 406px;
  color: rgba(251,110,110,1);
  position: absolute;
  top: 60px;
  left: 67px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v1513_775 {
  width: 541px;
  height: 134px;
  background: url("../images/v1513_775.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 866px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1513_776 {
  width: 541px;
  height: 134px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1513_777 {
  width: 541px;
  height: 134px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1513_778 {
  width: 406px;
  color: rgba(242,121,121,1);
  position: absolute;
  top: 24px;
  left: 67px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v1513_779 {
  width: 406px;
  color: rgba(251,110,110,1);
  position: absolute;
  top: 60px;
  left: 67px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1253_744 {
  width: 100%;
  height: 740px;
  background: url("../images/v1253_744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 285px;
  overflow: hidden;
}
.v1253_745 {
  width: 100%;
  height: 740px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_746 {
  width: 100%;
  height: 740px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1253_920 {
  width: 72px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 703px;
  left: 525px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_747 {
  width: 100%;
  height: 92px;
  background: url("../images/v1253_747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 1px;
  overflow: hidden;
}
.v1253_748 {
  width: 984px;
  height: 44px;
  background: url("../images/v1253_748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 108px;
  overflow: hidden;
}
.v1253_749 {
  width: 100px;
  height: 24px;
  background: url("../images/v1253_749.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 200px;
  overflow: hidden;
}
.v1253_750 {
  width: 100px;
  height: 24px;
  background: rgba(241,43,44,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v1253_751 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 4px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v1253_752 {
  width: 140px;
  color: rgba(251,110,110,1);
  position: absolute;
  top: 26px;
  left: 352px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1253_753 {
  width: 140px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 352px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_755 {
  width: 208px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 512px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_756 {
  width: 93px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 386px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_758 {
  width: 292px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 68px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_759 {
  width: 44px;
  height: 44px;
  background: url("../images/v1253_759.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_760 {
  width: 44px;
  height: 44px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1253_761 {
  width: 44px;
  height: 66px;
  background: url("../images/v1253_761.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_762 {
  width: 100%;
  background: url("../images/v1253_762.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}
.v1253_763 {
  width: 100%;
  background: url("../images/v1253_763.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_764 {
  width: 100%;
  background: url("../images/v1253_764.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_765 {
  width: 100%;
  background: url("../images/v1253_765.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_766 {
  width: 66px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 36px;
  left: 12px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_767 {
  width: 100%;
  height: 92px;
  background: url("../images/v1253_767.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 1px;
  overflow: hidden;
}
.v1253_768 {
  width: 984px;
  height: 44px;
  background: url("../images/v1253_768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 108px;
  overflow: hidden;
}
.v1253_769 {
  width: 100px;
  height: 24px;
  background: url("../images/v1253_769.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 200px;
  overflow: hidden;
}
.v1253_770 {
  width: 100px;
  height: 24px;
  background: rgba(254,196,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v1253_771 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 1px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v1253_772 {
  width: 140px;
  color: rgba(251,110,110,1);
  position: absolute;
  top: 26px;
  left: 352px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1253_773 {
  width: 140px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 352px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_775 {
  width: 208px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 512px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_777 {
  width: 311px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 68px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_778 {
  width: 44px;
  height: 44px;
  background: url("../images/v1253_778.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_779 {
  width: 44px;
  height: 44px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1253_780 {
  width: 58px;
  height: 88px;
  background: url("../images/v1253_780.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 6px;
  overflow: hidden;
}
.v1253_781 {
  width: 100%;
  background: url("../images/v1253_781.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}
.v1253_782 {
  width: 100%;
  background: url("../images/v1253_782.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_783 {
  width: 100%;
  background: url("../images/v1253_783.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_784 {
  width: 100%;
  background: url("../images/v1253_784.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_785 {
  width: 93px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 26px;
  left: 494px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_786 {
  width: 66px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 36px;
  left: 12px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_807 {
  width: 100%;
  height: 92px;
  background: url("../images/v1253_807.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 1px;
  overflow: hidden;
}
.v1253_808 {
  width: 872px;
  height: 44px;
  background: url("../images/v1253_808.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 108px;
  overflow: hidden;
}
.v1253_809 {
  width: 140px;
  color: rgba(251,110,110,1);
  position: absolute;
  top: 26px;
  left: 732px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1253_810 {
  width: 140px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 732px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_812 {
  width: 208px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 512px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_814 {
  width: 372px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 68px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_815 {
  width: 44px;
  height: 44px;
  background: url("../images/v1253_815.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_816 {
  width: 44px;
  height: 44px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1253_817 {
  width: 110px;
  height: 163px;
  background: url("../images/v1253_817.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 34px;
  overflow: hidden;
}
.v1253_818 {
  width: 100%;
  background: url("../images/v1253_818.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}
.v1253_819 {
  width: 100%;
  background: url("../images/v1253_819.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_820 {
  width: 100%;
  background: url("../images/v1253_820.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_821 {
  width: 100%;
  background: url("../images/v1253_821.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_822 {
  width: 93px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 26px;
  left: 494px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_823 {
  width: 100px;
  height: 24px;
  background: url("../images/v1253_823.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 992px;
  overflow: hidden;
}
.v1253_824 {
  width: 100px;
  height: 24px;
  background: rgba(241,43,44,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v1253_825 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 4px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v1253_826 {
  width: 66px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 36px;
  left: 12px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_827 {
  width: 58px;
  height: 20px;
  background: url("../images/v1253_827.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 270px;
  overflow: hidden;
}
.v1253_828 {
  width: 34px;
  color: rgba(74,79,108,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_829 {
  width: 16px;
  height: 16px;
  background: url("../images/v1253_829.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v1253_830 {
  width: 12px;
  height: 12px;
  background: rgba(197,199,205,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v1253_831 {
  width: 53px;
  height: 20px;
  background: url("../images/v1253_831.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 355px;
  overflow: hidden;
}
.v1253_832 {
  width: 29px;
  color: rgba(74,79,108,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_833 {
  width: 16px;
  height: 16px;
  background: url("../images/v1253_833.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v1253_834 {
  width: 14px;
  height: 12px;
  background: rgba(197,199,205,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v1253_842 {
  width: 400px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 32px;
  left: 32px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v1253_843 {
  width: 100%;
  height: 92px;
  background: url("../images/v1253_843.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 410px;
  left: 1px;
  overflow: hidden;
}
.v1253_844 {
  width: 984px;
  height: 44px;
  background: url("../images/v1253_844.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 108px;
  overflow: hidden;
}
.v1253_845 {
  width: 100px;
  height: 24px;
  background: url("../images/v1253_845.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 884px;
  overflow: hidden;
}
.v1253_846 {
  width: 100px;
  height: 24px;
  background: rgba(41,204,151,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v1253_847 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 2px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v1253_848 {
  width: 140px;
  color: rgba(251,110,110,1);
  position: absolute;
  top: 26px;
  left: 732px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1253_849 {
  width: 140px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 732px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_851 {
  width: 208px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 512px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_853 {
  width: 205px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 68px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_854 {
  width: 44px;
  height: 44px;
  background: url("../images/v1253_854.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_855 {
  width: 44px;
  height: 44px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1253_856 {
  width: 95px;
  height: 128px;
  background: url("../images/v1253_856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 23px;
  overflow: hidden;
}
.v1253_857 {
  width: 100%;
  background: url("../images/v1253_857.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}
.v1253_858 {
  width: 100%;
  background: url("../images/v1253_858.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_859 {
  width: 100%;
  background: url("../images/v1253_859.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_860 {
  width: 100%;
  background: url("../images/v1253_860.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_861 {
  width: 93px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 26px;
  left: 494px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_862 {
  width: 66px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 36px;
  left: 12px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_863 {
  width: 100%;
  height: 92px;
  background: url("../images/v1253_863.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 594px;
  left: 1px;
  overflow: hidden;
}
.v1253_864 {
  width: 983px;
  height: 44px;
  background: url("../images/v1253_864.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 108px;
  overflow: hidden;
}
.v1253_865 {
  width: 99px;
  height: 24px;
  background: url("../images/v1253_865.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 884px;
  overflow: hidden;
}
.v1253_866 {
  width: 99px;
  height: 24px;
  background: rgba(251,189,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v1253_867 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 12px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v1253_868 {
  width: 140px;
  color: rgba(251,110,110,1);
  position: absolute;
  top: 26px;
  left: 732px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1253_869 {
  width: 140px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 732px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_871 {
  width: 208px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 512px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_873 {
  width: 212px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 68px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_874 {
  width: 44px;
  height: 44px;
  background: url("../images/v1253_874.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_875 {
  width: 44px;
  height: 44px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1253_876 {
  width: 117px;
  height: 77px;
  background: url("../images/v1253_876.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 40px;
  overflow: hidden;
}
.v1253_877 {
  width: 100%;
  background: url("../images/v1253_877.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}
.v1253_878 {
  width: 100%;
  background: url("../images/v1253_878.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_879 {
  width: 100%;
  background: url("../images/v1253_879.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_880 {
  width: 100%;
  background: url("../images/v1253_880.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_881 {
  width: 93px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 26px;
  left: 494px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_882 {
  width: 66px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 36px;
  left: 12px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_883 {
  width: 100%;
  height: 92px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 1px;
  overflow: hidden;
}
.v1253_884 {
  width: 100%;
  height: 92px;
  background: rgba(55,81,255,1);
  opacity: 0.03999999910593033;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_885 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 405px;
  overflow: hidden;
}
.v1253_886 {
  width: 14px;
  height: 15px;
  background: url("../images/v1253_886.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v1253_887 {
  width: 14px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1253_888 {
  width: 14px;
  height: 15px;
  background: url("../images/v1253_888.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.75px solid rgba(0,0,0,1);
}
.v1253_889 {
  width: 1px;
  height: 3px;
  background: url("../images/v1253_889.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 0.75px solid rgba(0,0,0,1);
}
.v1253_890 {
  width: 1px;
  height: 3px;
  background: url("../images/v1253_890.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
  border: 0.75px solid rgba(0,0,0,1);
}
.v1253_891 {
  width: 1px;
  height: 3px;
  background: url("../images/v1253_891.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  border: 0.75px solid rgba(0,0,0,1);
}
.v1253_892 {
  width: 872px;
  height: 44px;
  background: url("../images/v1253_892.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 108px;
  overflow: hidden;
}
.v1253_893 {
  width: 140px;
  color: rgba(251,110,110,1);
  position: absolute;
  top: 26px;
  left: 732px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1253_894 {
  width: 140px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 732px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_896 {
  width: 208px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 512px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_898 {
  width: 203px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 2px;
  left: 68px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_899 {
  width: 44px;
  height: 44px;
  background: url("../images/v1253_899.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_900 {
  width: 44px;
  height: 44px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1253_901 {
  width: 115px;
  height: 111px;
  background: url("../images/v1253_901.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 34px;
  overflow: hidden;
}
.v1253_902 {
  width: 100%;
  background: url("../images/v1253_902.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}
.v1253_903 {
  width: 100%;
  background: url("../images/v1253_903.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_904 {
  width: 100%;
  background: url("../images/v1253_904.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1253_905 {
  width: 100%;
  background: url("../images/v1253_905.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(252,221,236,1);
}
.v1253_906 {
  width: 93px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 26px;
  left: 494px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_907 {
  width: 100px;
  height: 24px;
  background: url("../images/v1253_907.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 996px;
  overflow: hidden;
}
.v1253_908 {
  width: 100px;
  height: 24px;
  background: rgba(241,43,44,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v1253_909 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 4px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v1253_910 {
  width: 66px;
  color: rgba(37,39,51,1);
  position: absolute;
  top: 36px;
  left: 12px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_911 {
  width: 100%;
  height: 30px;
  background: url("../images/v1253_911.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 1px;
  overflow: hidden;
}
.v1253_912 {
  width: 332px;
  color: rgba(159,162,180,1);
  position: absolute;
  top: 0px;
  left: 108px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_913 {
  width: 208px;
  color: rgba(159,162,180,1);
  position: absolute;
  top: 0px;
  left: 620px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_914 {
  width: 140px;
  color: rgba(159,162,180,1);
  position: absolute;
  top: 0px;
  left: 494px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_915 {
  width: 15px;
  color: rgba(159,162,180,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_916 {
  width: 104px;
  color: rgba(159,162,180,1);
  position: absolute;
  top: 0px;
  left: 308px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_917 {
  width: 140px;
  color: rgba(159,162,180,1);
  position: absolute;
  top: 0px;
  left: 460px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1253_918 {
  width: 100%;
  background: url("../images/v1253_918.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.v1253_919 {
  width: 100%;
  background: url("../images/v1253_919.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(252,221,236,1);
}
